In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(color_codes=True)

In [2]:
df_agility = pd.read_csv("./data/DATA_AGILITY.csv")

C:\Users\annav\AppData\Local\Temp\ipykernel_22272\1110847948.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_agility = pd.read_csv("./data/DATA_AGILITY.csv")

In [8]:
df_agility.head(5)

,Index_data,Fecha,Manga,License,Breed,Gender,Hight_cm,Classification,Qualification,Speed,Time,Faults,Refusals,Competition,Location,Roof,Floor
0,0,Sabado 6 abril,Jumping,2023280386PS88000015,Continental Toy Spaniel,Male,24.5,-,DISQ,-,-,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
1,0,Sabado 6 abril,Agility,2023280386PS88000015,Continental Toy Spaniel,Male,24.5,-,NQ,2.48 m/s,79.88 s,2,2,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
2,0,Sabado 6 abril,Jumping,2022160138RS70000004,Shetland Sheepdog,Female,31.0,1º,V_GOOD,3.59 m/s,42.03 s,1,1,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
3,0,Sabado 6 abril,Agility,2022160138RS70000004,Shetland Sheepdog,Female,31.0,-,DISQ,-,-,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
4,0,Sabado 6 abril,Jumping,2018160135RS70000001,Border Collie,Female,50.0,-,DISQ,-,-,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand

In [4]:
df_agility.drop(columns = ["Unnamed: 0"], inplace = True)

In [5]:
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32771 entries, 0 to 32770
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index_data      32771 non-null  int64
 1   Fecha           32771 non-null  object
 2   Manga           32771 non-null  object
 3   License         32771 non-null  object
 4   Breed           32771 non-null  object
 5   Gender          32771 non-null  object
 6   Hight_cm        32771 non-null  float64
 7   Classification  32771 non-null  object
 8   Qualification   32771 non-null  object
 9   Speed           32771 non-null  object
 10  Time            32771 non-null  object
 11  Faults          32771 non-null  object
 12  Refusals        32771 non-null  object
 13  Competition     32771 non-null  object
 14  Location        32771 non-null  object
 15  Roof            32771 non-null  object
 16  Floor           32771 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 4.3+ MB

| Columna | Descripción| Comentario|
|---|---|---|
|Index_data| Número relacionado con el evento de la competición| generado en el primero dataset|
|Fecha| Día de la competición | + Si no tiene año es del 2024 + modificar formato|
|Manga| Tipo de pista| Jumping o Agility|
|License| identificador individual del Binomio| Groupby con Breed, Gender, Hight_cm|
|Breed| Razas de los perros|-|
|Gender| Hembra o Macho|-|
|Hight_cm| Altura de la cruz|-|
|Classification| 1r, 2o, 3o| Ganadores de la competición|
|Qualification| EXC_0,DISQ,EXC,V_GOOD,GOOD,DISQ (R),NP,NQ,DISQ (T)| EXC_0 = Pista a cero, DISQ (R y T?)= Eliminado, NP= No presentado|
|Speed| Velocidad del perro|-|
|Time| Tiempo en pista|-|
|Faults| nº de Faltas realizadas en pista|-|
|Refusals| nº de Faltas leves realizadas en pista|-|
|Competition| Nombre de la competición| relacionado con Index_data|
|Location| Lugar de la competicion| relacionado con Competición|
|Roof| Tipo de techo de la competición| Outdoor o indoor|
|Floor| Tipo de suelo| ...|

In [18]:
a = df_agility.groupby(["License","Breed"])
print(a)
a.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002321C8B56D0>

                                  Index_data  Fecha  Manga  Gender  Hight_cm  \
License    Breed
1995       Mudi                            1      1      1       1         1
2606       Border Collie                   2      2      2       2         2
-15013     Border Collie                  16     16     16      16        16
-15429     Poodle                         16     16     16      16        16
-16011     Border Collie                  20     20     20      20        20
...                                      ...    ...    ...     ...       ...
aguarda    Border Collie                   9      9      9       9         9
en trámite Border Collie                   9      9      9       9         9
fs         Border Collie                   4      4      4       4         4
si         Australian Cattle Dog           9      9      9       9         9
           Poodle                          9      9      9       9         9

                                  Classification  Qualification  Speed  Time  \
License    Breed
1995       Mudi                                1              1      1     1
2606       Border Collie                       2              2      2     2
-15013     Border Collie                      16             16     16    16
-15429     Poodle                             16             16     16    16
-16011     Border Collie                      20             20     20    20
...                                          ...            ...    ...   ...
aguarda    Border Collie                       9              9      9     9
en trámite Border Collie                       9              9      9     9
fs         Border Collie                       4              4      4     4
si         Australian Cattle Dog               9              9      9     9
           Poodle                              9              9      9     9

                                  Faults  Refusals  Competition  Location  \
License    Breed
1995       Mudi                        1         1            1         1
2606       Border Collie               2         2            2         2
-15013     Border Collie              16        16           16        16
-15429     Poodle                     16        16           16        16
-16011     Border Collie              20        20           20        20
...                                  ...       ...          ...       ...
aguarda    Border Collie               9         9            9         9
en trámite Border Collie               9         9            9         9
fs         Border Collie               4         4            4         4
si         Australian Cattle Dog       9         9            9         9
           Poodle                      9         9            9         9

                                  Roof  Floor
License    Breed
1995       Mudi                      1      1
2606       Border Collie             2      2
-15013     Border Collie            16     16
-15429     Poodle                   16     16
-16011     Border Collie            20     20
...                                ...    ...
aguarda    Border Collie             9      9
en trámite Border Collie             9      9
fs         Border Collie             4      4
si         Australian Cattle Dog     9      9
           Poodle                    9      9

[2877 rows x 15 columns]