In [1]:
import numpy as np
import pandas as pd

In [2]:
df_agility = pd.read_csv("./data/DATA_AGILITY.csv")
primer_df = pd.read_json("./data/df_agility.json")

C:\Users\annav\AppData\Local\Temp\ipykernel_15852\2075437525.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_agility = pd.read_csv("./data/DATA_AGILITY.csv")

In [3]:
df_agility.head(5)

,Unnamed: 0,Index_data,Fecha,Manga,License,Breed,Gender,Hight_cm,Classification,Qualification,Speed,Time,Faults,Refusals,Competition,Location,Roof,Floor
0,0,0,Sabado 6 abril,Jumping,2023280386PS88000015,Continental Toy Spaniel,Male,24.5,-,DISQ,-,-,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
1,1,0,Sabado 6 abril,Agility,2023280386PS88000015,Continental Toy Spaniel,Male,24.5,-,NQ,2.48 m/s,79.88 s,2,2,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
2,2,0,Sabado 6 abril,Jumping,2022160138RS70000004,Shetland Sheepdog,Female,31.0,1º,V_GOOD,3.59 m/s,42.03 s,1,1,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
3,3,0,Sabado 6 abril,Agility,2022160138RS70000004,Shetland Sheepdog,Female,31.0,-,DISQ,-,-,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
4,4,0,Sabado 6 abril,Jumping,2018160135RS70000001,Border Collie,Female,50.0,-,DISQ,-,-,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand

In [4]:
df_agility.drop(columns = ["Unnamed: 0"], inplace = True)

In [5]:
df_agility["Qualification"].value_counts()

Qualification
EXC_0       11972
DISQ         8498
EXC          6472
V_GOOD       4055
GOOD          700
DISQ (R)      402
NP            355
NQ            160
DISQ (T)      157
Name: count, dtype: int64

In [6]:
eliminados = []
for elim in df_agility["Qualification"]:
    if elim == "DISQ" or elim == "DISQ (R)" or elim == "DISQ (T)":
        eliminados.append("ELIM")
    else:
        eliminados.append(elim)

In [7]:
df_agility["Eliminados"] = eliminados

df_agility["Eliminados"].value_counts()

Eliminados
EXC_0     11972
ELIM       9057
EXC        6472
V_GOOD     4055
GOOD        700
NP          355
NQ          160
Name: count, dtype: int64

In [8]:
# Eliminamos los participantes NP (No Presentados) y NQ (No tienen Qualificación ni resultado de Classificación)
index_NP = df_agility.loc[df_agility["Eliminados"] == "NQ"].index.to_list()

df_agility = df_agility.drop(index_NP)
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32611 entries, 0 to 32770
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index_data      32611 non-null  int64
 1   Fecha           32611 non-null  object
 2   Manga           32611 non-null  object
 3   License         32611 non-null  object
 4   Breed           32611 non-null  object
 5   Gender          32611 non-null  object
 6   Hight_cm        32611 non-null  float64
 7   Classification  32611 non-null  object
 8   Qualification   32611 non-null  object
 9   Speed           32611 non-null  object
 10  Time            32611 non-null  object
 11  Faults          32611 non-null  object
 12  Refusals        32611 non-null  object
 13  Competition     32611 non-null  object
 14  Location        32611 non-null  object
 15  Roof            32611 non-null  object
 16  Floor           32611 non-null  object
 17  Eliminados      32611 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 4.7+ MB

In [9]:
indice = list(range(32611))
df_agility["indice"] = indice
df_agility = df_agility.set_index("indice")

In [10]:
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32611 entries, 0 to 32610
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index_data      32611 non-null  int64
 1   Fecha           32611 non-null  object
 2   Manga           32611 non-null  object
 3   License         32611 non-null  object
 4   Breed           32611 non-null  object
 5   Gender          32611 non-null  object
 6   Hight_cm        32611 non-null  float64
 7   Classification  32611 non-null  object
 8   Qualification   32611 non-null  object
 9   Speed           32611 non-null  object
 10  Time            32611 non-null  object
 11  Faults          32611 non-null  object
 12  Refusals        32611 non-null  object
 13  Competition     32611 non-null  object
 14  Location        32611 non-null  object
 15  Roof            32611 non-null  object
 16  Floor           32611 non-null  object
 17  Eliminados      32611 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 4.7+ MB

| Columna | Descripción| Comentario|
|---|---|---|
|Index_data| Número relacionado con el evento de la competición| generado en el primero dataset|
|Fecha| Día de la competición | + Si no tiene año es del 2024 + modificar formato|
|Manga| Tipo de pista| Jumping o Agility|
|License| identificador individual del Binomio| Groupby con Breed, Gender, Hight_cm|
|Breed| Razas de los perros|-|
|Gender| Hembra o Macho|-|
|Hight_cm| Altura de la cruz|-|
|Classification| 1r, 2o, 3o| Ganadores de la competición|
|Qualification| EXC_0,DISQ,EXC,V_GOOD,GOOD,DISQ (R),NP,NQ,DISQ (T)| EXC_0 = Pista a cero, DISQ (R y T?)= Eliminado, NP= No presentado|
|Speed| Velocidad del perro|-|
|Time| Tiempo en pista|-|
|Faults| nº de Faltas realizadas en pista|-|
|Refusals| nº de Faltas leves realizadas en pista|-|
|Competition| Nombre de la competición| relacionado con Index_data|
|Location| Lugar de la competicion| relacionado con Competición|
|Roof| Tipo de techo de la competición| Outdoor o indoor|
|Floor| Tipo de suelo| ...|
|Eliminados| Misma columna que Qualification pero limpia|-|

In [11]:
# Borro la Columna Qualification porque ya tenemos la de Eliminados que nos da la misma información limpia
del df_agility["Qualification"]

In [12]:
# Rehago la fecha:
list_date = []
for indice in df_agility["Index_data"]:
    list_date.append(primer_df["shortDate"][indice])

df_agility["Fecha_Competición"] = list_date

In [ ]:
# Decido no canviar a formato datetime. Demasiados patrones distintos y no es tan relevante para el estudio.
df_agility["Fecha_Competición"].unique()

In [14]:
df_agility["Manga"].value_counts()

Manga
Jumping      13201
Agility      12381
Agility 2     2225
Agility 1     2212
Jumping 2     1205
Jumping 1     1204
Agility 3      127
Jumping 3       48
Jumping 4        8
Name: count, dtype: int64

In [15]:
lista_pista = []
for manga in df_agility["Manga"]:
    if manga.startswith("Jumping"):
        lista_pista.append("Jumping")
    if manga.startswith("Agility"):
        lista_pista.append("Agility")

In [16]:
df_agility["Pista"] = lista_pista
df_agility["Pista"].value_counts()

Pista
Agility    16945
Jumping    15666
Name: count, dtype: int64

In [17]:
# Elimino la columna Manga porque ya se ha creado Pista que está limpia
del df_agility["Manga"]

In [18]:
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32611 entries, 0 to 32610
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index_data         32611 non-null  int64
 1   Fecha              32611 non-null  object
 2   License            32611 non-null  object
 3   Breed              32611 non-null  object
 4   Gender             32611 non-null  object
 5   Hight_cm           32611 non-null  float64
 6   Classification     32611 non-null  object
 7   Speed              32611 non-null  object
 8   Time               32611 non-null  object
 9   Faults             32611 non-null  object
 10  Refusals           32611 non-null  object
 11  Competition        32611 non-null  object
 12  Location           32611 non-null  object
 13  Roof               32611 non-null  object
 14  Floor              32611 non-null  object
 15  Eliminados         32611 non-null  object
 16  Fecha_Competición  32611 non-null  object
 17  Pista              32611 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 4.7+ MB

In [19]:
df_agility.to_csv("6_DATA_AGILITY.csv")