#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/competitions/desafio-de-prediccion-de-precios-de-portatiles

## Librerias

In [1]:
import pandas as pd
from A_TOOLBOX import *
import re

## Data

In [2]:
df = pd.read_csv('./data/train.csv')

## Data exploration

In [3]:
describe_df(df)

,id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
DATA_TYPE,int64,int64,object,object,object,float64,object,object,object,object,object,object,object,float64
MISSINGS (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UNIQUE_VALUES,912,912,19,475,6,15,35,104,8,36,91,9,158,614
CARDIN (%),100.0,100.0,2.08,52.08,0.66,1.64,3.84,11.4,0.88,3.95,9.98,0.99,17.32,67.32

In [4]:
df.head()

,id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,268,1002,Dell,Inspiron 5567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R7 M445,Windows 10,2.36kg,749.00
1,347,867,Asus,X541NA (N4200/4GB/1TB/W10),Notebook,15.6,1366x768,Intel Pentium Quad Core N4200 1.1GHz,4GB,1TB HDD,Intel HD Graphics 505,Windows 10,2kg,449.00
2,353,966,Toshiba,Portege Z30-C-1CW,Notebook,13.3,Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 7,1.2kg,1460.00
3,578,767,Dell,Alienware 17,Gaming,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,4.42kg,2868.99
4,42,1241,Dell,Latitude E7270,Ultrabook,12.5,Full HD / Touchscreen 1920x1080,Intel Core i5 6300U 2.4GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 7,1.26kg,1713.37

## Data processing

In [5]:
# Tratamiento de Weight --> quitar "Kg" y convertir a float:

for peso in df['Weight']:
    nuevo_peso = float(peso.replace("kg",""))
    df['Peso_kg'] = nuevo_peso

In [6]:
df.drop(columns='Weight', inplace= True)
df.head(1)

,id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Price_euros,Peso_kg
0,268,1002,Dell,Inspiron 5567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R7 M445,Windows 10,749.0,2.3

In [7]:
# Ram --> Quitar GB y convertir a float:

for memoria in df['Ram']:
    nueva_memoria = int(memoria.replace("GB",""))
    df['RAM_GB'] = nueva_memoria

In [8]:
df.drop(columns='Ram', inplace= True)
df.head(1)

,id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Memory,Gpu,OpSys,Price_euros,Peso_kg,RAM_GB
0,268,1002,Dell,Inspiron 5567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,1TB HDD,AMD Radeon R7 M445,Windows 10,749.0,2.3,8

In [9]:
# Memory --> Poner todo en la misma medida y separar por tipo de memoria
df['Memory'].unique()

array(['1TB HDD', '256GB SSD', '256GB SSD +  1TB HDD',
       '512GB SSD +  2TB HDD', '128GB SSD +  1TB HDD', '128GB SSD',
       '1TB SSD', '64GB Flash Storage', '2TB HDD', '500GB HDD',
       '1.0TB Hybrid', '16GB Flash Storage', '256GB Flash Storage',
       '180GB SSD', '32GB Flash Storage', '512GB SSD',
       '512GB SSD +  1TB HDD', '256GB SSD +  500GB HDD',
       '256GB SSD +  2TB HDD', '1TB SSD +  1TB HDD', '64GB SSD',
       '128GB Flash Storage', '256GB SSD +  1.0TB Hybrid', '32GB SSD',
       '512GB Flash Storage', '240GB SSD', '256GB SSD +  256GB SSD',
       '16GB SSD', '8GB SSD', '64GB Flash Storage +  1TB HDD',
       '1.0TB HDD', '1TB HDD +  1TB HDD', '512GB SSD +  512GB SSD',
       '128GB SSD +  2TB HDD', '32GB HDD', '512GB SSD +  1.0TB Hybrid'],
      dtype=object)

In [10]:
def valores_a_GB (value):
    if 'TB' in value:
        return int(float(value.replace('TB', '').strip()) * 1024)
    elif 'GB' in value:
        return int(float(value.replace('GB', '').strip()))
    return 0

def tipo_memoria (storage, storage_type):
    if storage_type not in storage:
        return 0
    matches = re.findall(r'(\d+(?:\.\d+)?\s*TB|\d+\s*GB)\s*' + storage_type, storage)
    total_gb = sum(valores_a_GB(match) for match in matches)
    return total_gb

In [11]:
df['SSD_GB'] = df['Memory'].apply(lambda x: tipo_memoria(x, 'SSD'))
df['HDD_GB'] = df['Memory'].apply(lambda x: tipo_memoria(x, 'HDD'))
df['Flash_Storage_GB'] = df['Memory'].apply(lambda x: tipo_memoria(x, 'Flash Storage'))
df['Hybrid_GB'] = df['Memory'].apply(lambda x: tipo_memoria(x, 'Hybrid'))

In [12]:
df.drop(columns='Memory', inplace= True)
df.head(1)

,id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Gpu,OpSys,Price_euros,Peso_kg,RAM_GB,SSD_GB,HDD_GB,Flash_Storage_GB,Hybrid_GB
0,268,1002,Dell,Inspiron 5567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,AMD Radeon R7 M445,Windows 10,749.0,2.3,8,0,1024,0,0

In [13]:
# CPU y GPU --> extraer información en otras columnas
df['Cpu'].unique()

array(['Intel Core i7 7500U 2.7GHz',
       'Intel Pentium Quad Core N4200 1.1GHz',
       'Intel Core i5 6200U 2.3GHz', 'Intel Core i7 7700HQ 2.8GHz',
       'Intel Core i5 6300U 2.4GHz', 'Intel Core i3 6006U 2GHz',
       'Intel Pentium Quad Core N3710 1.6GHz',
       'Intel Core i7 8550U 1.8GHz', 'AMD A9-Series A9-9420 3GHz',
       'Intel Pentium Dual Core 4405U 2.1GHz',
       'Intel Core i5 8250U 1.6GHz', 'Intel Core i3 7100U 2.4GHz',
       'Intel Core i5 7200U 2.5GHz', 'Intel Xeon E3-1535M v6 3.1GHz',
       'Intel Atom x5-Z8550 1.44GHz', 'AMD A10-Series 9620P 2.5GHz',
       'Intel Core i5 7300U 2.6GHz',
       'Intel Celeron Dual Core N3350 1.1GHz',
       'Intel Core i7 6500U 2.5GHz', 'Intel Core i3 6006U 2.0GHz',
       'Intel Celeron Dual Core 3205U 1.5GHz',
       'AMD A12-Series 9720P 3.6GHz',
       'Intel Celeron Dual Core N3050 1.6GHz',
       'Intel Core i3 7130U 2.7GHz', 'Intel Core i5 7300HQ 2.5GHz',
       'Intel Core i5 7200U 2.7GHz', 'Intel Core i7 7820HQ 2.9GHz',
       'Intel Core i7 2.2GHz', 'Intel Celeron Dual Core N3060 1.6GHz',
       'Intel Core i7 6600U 2.6GHz', 'Intel Atom x5-Z8350 1.44GHz',
       'Intel Core M 6Y75 1.2GHz', 'Intel Core i7 7600U 2.8GHz',
       'Intel Core i7 7820HK 2.9GHz', 'AMD E-Series E2-9000 2.2GHz',
       'Intel Core i7 6500U 2.50GHz', 'AMD A9-Series 9420 3GHz',
       'AMD FX 8800P 2.1GHz', 'AMD A10-Series A10-9620P 2.5GHz',
       'Intel Core i7 6700HQ 2.6GHz', 'Intel Core M 7Y30 1.0GHz',
       'Intel Core i7 7Y75 1.3GHz', 'Intel Core i5 7200U 2.70GHz',
       'Intel Celeron Dual Core 3855U 1.6GHz',
       'AMD A6-Series 9220 2.5GHz', 'Intel Core i5 6300HQ 2.3GHz',
       'Intel Core i5 7500U 2.7GHz', 'AMD Ryzen 1600 3.2GHz',
       'Intel Celeron Dual Core N3350 2GHz',
       'AMD E-Series E2-6110 1.5GHz', 'AMD E-Series 6110 1.5GHz',
       'AMD A9-Series 9410 2.9GHz',
       'Intel Celeron Quad Core N3450 1.1GHz',
       'Intel Core i5 7440HQ 2.8GHz', 'Intel Core i5 1.3GHz',
       'Intel Core i5 1.8GHz', 'Intel Core i7 6820HK 2.7GHz',
       'Intel Core M M3-6Y30 0.9GHz', 'Intel Core i7 6820HQ 2.7GHz',
       'Intel Core i3 6100U 2.3GHz', 'Intel Core i5 3.1GHz',
       'Intel Core M 6Y30 0.9GHz', 'Intel Core M 1.2GHz',
       'AMD A8-Series 7410 2.2GHz', 'Intel Core i5 7Y54 1.2GHz',
       'AMD A12-Series 9720P 2.7GHz', 'Intel Core i7 8650U 1.9GHz',
       'Intel Core i5 2.3GHz', 'Intel Core i7 7660U 2.5GHz',
       'Intel Core i5 7Y57 1.2GHz', 'Intel Core i3 6006U 2.2GHz',
       'Intel Core i7 2.8GHz', 'Intel Xeon E3-1505M V6 3GHz',
       'AMD Ryzen 1700 3GHz', 'Intel Core M 1.1GHz',
       'Intel Pentium Dual Core 4405Y 1.5GHz',
       'Intel Celeron Quad Core N3160 1.6GHz',
       'Intel Celeron Dual Core N3060 1.60GHz',
       'AMD E-Series 7110 1.8GHz', 'AMD E-Series 9000e 1.5GHz',
       'Intel Core i3 6100U 2.1GHz',
       'Intel Pentium Dual Core N4200 1.1GHz',
       'Intel Core M M7-6Y75 1.2GHz', 'Intel Core M m3 1.2GHz',
       'Intel Atom X5-Z8350 1.44GHz', 'Intel Core i5 7200U 2.50GHz',
       'Intel Core i7 2.7GHz', 'AMD FX 9830P 3GHz',
       'Intel Core M m3-7Y30 2.2GHz', 'Intel Core i5 2.9GHz',
       'Intel Core i7 6920HQ 2.9GHz', 'Intel Core i7 7560U 2.4GHz',
       'Intel Xeon E3-1535M v5 2.9GHz', 'Intel Core i5 1.6GHz',
       'Intel Core i7 6560U 2.2GHz', 'Intel Atom x5-Z8300 1.44GHz',
       'Intel Core i7 7500U 2.5GHz', 'Intel Atom Z8350 1.92GHz',
       'AMD A12-Series 9700P 2.5GHz',
       'Intel Pentium Quad Core N3700 1.6GHz',
       'AMD A6-Series A6-9220 2.5GHz', 'AMD A9-Series 9420 2.9GHz',
       'AMD A6-Series 9220 2.9GHz', 'AMD E-Series 9000 2.2GHz'],
      dtype=object)

In [14]:
def extract_brand(cpu):
    return cpu.split()[0]

def extract_series_model(cpu):
    match = re.search(r'(Intel|AMD) (.*?) (\d+)', cpu)
    if match:
        return match.group(2)
    return None

def extract_speed(cpu):
    match = re.search(r'(\d+(\.\d+)?)GHz', cpu)
    if match:
        return float(match.group(1))
    return None

def extract_cores(cpu):
    if 'Quad Core' in cpu:
        return 4
    elif 'Dual Core' in cpu:
        return 2
    elif 'Hexa Core' in cpu:
        return 6
    elif 'Octa Core' in cpu:
        return 8
    else:
        return 1  # Asumiendo un solo núcleo si no se especifica

In [15]:
df['Marca_CPU'] = df['Cpu'].apply(extract_brand)
df['Modelo_Serie'] = df['Cpu'].apply(extract_series_model)
df['Velocidad_GHz'] = df['Cpu'].apply(extract_speed)
df['Cores'] = df['Cpu'].apply(extract_cores)

In [16]:
df.rename(columns={'Modelo_Serie':'Modelo_Serie_CPU', 'Velocidad_GHz':'Velocidad_CPU_GHz', 'Cores':'Cores_CPU'}, inplace=True)

In [17]:
len(df['Modelo_Serie_CPU'].unique())

40

In [18]:
df['Cores_CPU'].value_counts()

Cores_CPU
1    824
2     61
4     27
Name: count, dtype: int64

In [19]:
df.drop(columns='Cpu', inplace= True)
df.head(1)

,id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Gpu,OpSys,Price_euros,Peso_kg,RAM_GB,SSD_GB,HDD_GB,Flash_Storage_GB,Hybrid_GB,Marca_CPU,Modelo_Serie_CPU,Velocidad_CPU_GHz,Cores_CPU
0,268,1002,Dell,Inspiron 5567,Notebook,15.6,1366x768,AMD Radeon R7 M445,Windows 10,749.0,2.3,8,0,1024,0,0,Intel,Core i7,2.7,1

In [ ]:
df['Gpu'].unique()

In [ ]:
#df.drop(columns='Gpu', inplace= True)
df.info()

In [20]:
df['ScreenResolution'].unique()

array(['1366x768', 'Full HD 1920x1080', 'IPS Panel 4K Ultra HD 3840x2160',
       'Full HD / Touchscreen 1920x1080', 'IPS Panel Full HD 1920x1080',
       'IPS Panel Full HD / Touchscreen 1920x1080',
       'IPS Panel Touchscreen 1920x1200',
       '4K Ultra HD / Touchscreen 3840x2160', 'Touchscreen 1366x768',
       'IPS Panel Retina Display 2880x1800', 'IPS Panel 1366x768',
       'IPS Panel Quad HD+ / Touchscreen 3200x1800',
       'Quad HD+ / Touchscreen 3200x1800', '4K Ultra HD 3840x2160',
       'IPS Panel 2560x1440', '1600x900', 'Touchscreen 2560x1440',
       'IPS Panel Quad HD+ 2560x1440',
       'IPS Panel Retina Display 2304x1440', '1440x900',
       'IPS Panel Retina Display 2560x1600', 'Touchscreen 2256x1504',
       '2560x1440', 'IPS Panel Touchscreen / 4K Ultra HD 3840x2160',
       'IPS Panel Touchscreen 2560x1440', '1920x1080',
       'Touchscreen 2400x1600', 'IPS Panel Full HD 2160x1440',
       'Quad HD+ 3200x1800',
       'IPS Panel 4K Ultra HD / Touchscreen 3840x2160',
       'Touchscreen / Full HD 1920x1080',
       'Touchscreen / 4K Ultra HD 3840x2160',
       'IPS Panel Quad HD+ 3200x1800', 'IPS Panel Full HD 1920x1200',
       'IPS Panel Touchscreen 1366x768'], dtype=object)

In [ ]:
# TypeName , OpSys , Company , Memoria_tipo --> Categorica, hacer one hot encoding

In [ ]:
df['Product'].value_counts()

In [ ]:
# laptop_ID --> INVESTIGAR + ...

In [ ]:
# id --> para ordenar i comparar en kaggle

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

### 2. Dividir X_train, X_test, y_train, y_test

### 3. Crear y entrenar el modelo

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 2. Carga los datos de `test.csv` para predecir.

**¿Por qué puede dar error?**

IMPORTANTE: APLICAR A ESTOS DATOS LO MISMO QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [ ]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [ ]:
predictions = model.predict(X_pred)
predictions

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [ ]:
sample = pd.read_csv("Dataset/sample_submission.csv") # Esta es mi ruta del archivo, la vuestra puede ser otra

In [ ]:
sample.head()

In [ ]:
sample.shape

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [ ]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.id.all() == sample.id.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("")

In [ ]:
chequeator(submission) # submission es el nombre que le habríamos puesto a nuestro .csv con los valores que me salieron en la predicción